body {
    margin: 0;
    padding-top: 100px;
    background-image: url("img/SU\ Hall.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

div.navbar {
    position: fixed;
    top: 0;
    overflow: visible;
    background-color: rgb(240, 22, 22);
    width: 100%;
    color: white;
    border: 2px solid black;
}

div.maindiv {
    background-color: rgb(250, 235, 215, 0.9);
    width: 80%;
    height: 1000px;
    border-radius: 50px;
    margin: auto;
    margin-top: 15px;
    border: 2px solid black;
}

div.rowcontainer {
    padding:10px;
    display: flex;
    flex-direction: row;
}

.left {float    : left;}
.right {text-align: right;}

div.colcontainer {
    display:flex;
    flex-direction:column;
    padding:10px;
}

div.left {
    text-align: left;
}

div.centered {
    text-align: center;
}

a:link, a:visited{
    color: white;
}

a:hover {
    background-color: white;
    color: red;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: right;
  padding-right: 40px;
}

ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 26px;
}

h1.main-title {
    font-size: 50px;
    font-family: Verdana;
    background-color: rgb(240, 22, 22); 
    display: inline-block;
    border-radius: 25px;
    padding: 20px;
    color: white;
}

.gallery {
    float: right;
    margin: 30px auto;
    padding: 10px;
}
button {
    margin: 5px;
    padding: 8px 16px;
    font-size: 16px;
}

img.images  {
    width: 400px;
}


